body {
    font-family: sans-serif;
    margin: 2em;
}

label[data-path] {
    display: block;
}

.data-title {
    display: inline-block;
    width: 10em;
}

code {
    display: block;
    font-family: monospace;
    white-space: pre;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    background-color: #888;
}

.edits {
    background-color: #888;
}

.edits > code {
    display: none;
}

@media (prefers-color-scheme: dark) {

}

