body {
    font-family: sans-serif;
    margin: 2em;
}

label {
    display: block;
    margin-top: 1ex;
}

input, select, textarea {
    display: block;
}

.data-title {
    display: inline-block;
    width: 10em;
}

.demo {
    border: 3px solid;
    padding-left: 1em;
    color: CanvasText;
    background-color: Canvas;
}

code {
    display: none;
    font-family: monospace;
    white-space: pre;
    min-height: 5em;
    /*border: 1px solid #ddd;
    background-color: #888;*/
}

.tabs {
    margin-left: -1em;
    margin-bottom: 1ex;
}

.tabs code {
    display: none;
}

.tabs input {
    display: inline !important;
}

.tabs label {
    display: inline-block !important;
    margin-top: 0px !important;
    border: 2px solid;
    padding: 5pt;
    width: 10ex;
}

kbd {
    border: 1px solid #ccc;
    padding: 0px 2px;
    border-radius: 3px;
    background-color: #f7f7f7;
}

@media (prefers-color-scheme: dark) {}