body {
    font-family: sans-serif;
    margin: 2em;
}

label {
    display: block;
    margin-top: 1ex;
}

input, select, textarea {
    display: block;
}

.data-title {
    display: inline-block;
    width: 10em;
}

.demo {
    border-left: 3px solid #f36d33;
    padding-left: 1em;
}

code {
    display: block;
    font-family: monospace;
    white-space: pre;
    /*border: 1px solid #ddd;
    background-color: #888;*/
}

.tabs {
    /*background-color: #888;*/
}

.tabs code {
    display: none;
}

.tabs input {
    display: inline !important;
}

.tabs label {
    display: inline !important;
    border: 1px solid;
}

@media (prefers-color-scheme: dark) {}